
@media (max-width: 69.375rem) {
    html {
        font-size: 56.25%;
    }
    .navbar_buttons {
        gap: 25px;
    }
    
}

@media (max-width: 57.8125rem) {
    html {
        font-size: 50%;
    }
    .navbar_buttons {
        gap: 20px;
    }
}

@media (max-width: 51.25rem) {
    html {
        font-size: 43.75%;
    }
    .navbar_buttons {
        gap: 15px;
    }
}

@media (max-width: 45rem) {
    html {
        font-size: 40.63%;
    }
    .navbar_buttons {
        gap: 11px;
    }
}

@media (max-width: 41.5625rem) {
    html {
        font-size: 37.5%;
    }
    .navbar_buttons {
        gap: 7px;
    }
}

@media (max-width: 38.4375rem) {
    html {
        font-size: 34.375%;
    }
    .navbar_buttons {
        gap: 7px;
    }
}

@media (max-width: 35.3125rem) {
    html {
        font-size: 31.25%;
    }
    .navbar_buttons {
        gap: 5px;
    }
}